.footerIMG {
    margin-top: 50px;
    bottom: 0;
    height: 250px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 10%, rgba(255, 138, 57, 0) 50%, rgba(255, 255, 255, 1) 90%), url("../images/abstract-vector-line-3.png") no-repeat center;
    background-size: cover;
    width: 100%;
}
